
<div class="jumbotron">
    <h1>Borracheras</h1>
    <p>Esta página sirve para guardar usuarios de bares y sus motivos por los cuales han decidido emborracharse.</p>
    <img src="http://dl.ziza.es/upload/image/112015/25/borrachos/zz-borrachos.jpg" alt="Borracheras en bar" align="center">
</div>