<!DOCTYPE html>
<html>
    <head>
        <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="/styles/bootstrap.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script> 
        <style>
            #boton{
                background-color: black;
                color: white
            }
        </style>

    </head>

    <body>

        <div class="container">
            <div class="row">
                <nav class="navbar navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">                            
                            <a class="navbar-brand">Programar una borrachera</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/crearUsuario">Crear Usuario</a></li>
                                        <li><a href="/usuarios">Listar Usuario</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Borrachera <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/crearBorrachera">Crear Borrachera</a></li>
                                        <li><a href="/borracheras">Listar Borrachera</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            </div>

            <div class="row">  <%- body %>    </div>

<div class="row">
    
</div>
<h4>Realizado por: Yessenia Larco A.</h4>


        </div>






    </body>
</html>
